*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F4F4;
  background-image: radial-gradient(circle at 50% 0%, #1e2757, #256081 55%, #FDFDFD);
  background-size: 300% 300%;
  background-repeat: no-repeat;


}

